.support_main{
    margin-top: 160px;
}
.pppppp{
    padding-top: 100px;
    font-size: 18px;
    font-weight: 700;
}
.wwwwwww{
    padding-top: 20px;

}
.loreeeeeemmmm{
    padding-top: 30px;
    font-size: 22px;
    padding-right: 60px;
}