.use1{
    padding-top: 150px;
}
.client_pic{
    padding-top: 80px; 
}
.top100{
    font-size: 41px;
    padding-right: 80px;
    padding-top: 20px;
}
.ioo{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
    padding-right: 100px;
}
.use1{
    font-weight: 700;
    font-size: 20px;
}
.offf{
    padding-top: 30px;
    padding-right: 50px;
}
    
