.delivery_main{
    background-color: #fcd9802a;
    padding-bottom: 150px;
    margin-top: 160px;
}
.delivery_pic{
    padding-top: 150px;
}
.quick{
    padding-top: 200px;
    font-size: 19px;
    font-weight: 700;
}
.iiiiii{
    padding-top: 30px;
}
.mmmmmn{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
    padding-right: 40px;
}

