.revision_main{
    background-color: #f4f6fcbb;
    margin-top: 160px;
    padding-bottom: 150px;
}
.revision_pic{
    padding-top: 150px;
}
.freeee{
    padding-top: 210px;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 700;
}
.gettttt{
    padding-left: 50px;
   padding-top: 20px;
}
.loooooo{
    padding-left: 50px;
    padding-top: 30px;
    line-height: 35px;
    font-size: 20px;
}