.mission-Main{
    background-color: #F4F6FC;
    padding-top: 120px;
}
.mission{
    padding-top: 50px;
}
.ins{
    padding-top: 20px;
    font-size: 45px !important;
}
.lop{
    padding-top: 20px;
    line-height: 30px;
}
.imgg{
    padding-top: 100px;
}
.t2{
    padding-top: 20px;
    font-size: 50px !important;
}
.y2{
    padding-top: 20px ;
    line-height: 30px;
}
.women{
    padding-bottom: 100px;
}